@font-face {
    font-family: 'Pea-Susela';
    src:url('/static/fonts/Pea-Susela.ttf.woff') format('woff'),
        url('/static/fonts/Pea-Susela.ttf.svg#Pea-Susela') format('svg'),
        url('/static/fonts/Pea-Susela.ttf.eot'),
        url('/static/fonts/Pea-Susela.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}


html {
    overflow-y:scroll;
}
body {
	background: url('/images/layout/background.png');
	font-family: 'Lato', sans-serif;
	color: #4a5160;
	-webkit-font-smoothing: antialiased;
}
a {
	font-weight: bold;
}
dt {
    font-weight: bold;
}
dd {
    margin-bottom: 20px;
}
h1, h2, h3 {
  color: #900;
  font-family: 'Pea-Susela', cursive;
}

/* temporary theme adjustments */
.well {
  background: #bfd0e0;
  border: 1px solid #a9bed4;
}
/* end temporary theme adjustments */


/* deal with Healcode nonsense */
#contact input,
#contact select,
#contact textarea {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#contact textarea {
	height: auto;
}
#contact input.submit {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  width: auto;
  color: #ffffff;
  background-color: #337ab7;
  border-color: #337ab7;
  float: left;
}

.page {
	background: #d6e2ee;
	
	-moz-box-shadow:    0px 1px 3px 1px #b9c1d0;
	-webkit-box-shadow: 0px 1px 3px 1px #b9c1d0;
	box-shadow:         0px 1px 3px 1px #b9c1d0;
	
	-webkit-box-shadow: 0px 2px 6px 0px rgba(25,67,153,0.25);
	-moz-box-shadow: 0px 2px 6px 0px rgba(25,67,153,0.25);
	box-shadow: 0px 2px 6px 0px rgba(25,67,153,0.25);
	
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 4px;
}

.well h1,
.well h2,
.well h3,
.well h4 {
	margin-top: 0;
}
a.well {
  text-align: center;
  display: block;
}
a.well:hover {
  text-decoration: none;
  background: #afc0d0;
}



.class-blurb {
	text-align: center;
	margin-top: 20px;
}
.address {
	font-style: italic;
}
.mapview {
	margin: 10px auto;
	border: 1px solid #aaa;
	border-radius: 4px;
}


.imgholder {
  width: 100%;
  height: 200px;
  border: 1px solid #aaa;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 20px;
}
.imgholder img {
  width: 100%;
}

.teacher {
  font-weight: normal;
  height: 325px;
  overflow: hidden;
}
.teacher:hover {
  text-decoration: none;
  color: #333;
  background: #e5e5e5;
}
.teacher .name {
  text-align: center;
  font-size: 18px;
}
.teacher .locations {
  font-size: 10px;
  color: #333;
}


.teacher_image {
  float: left;
  margin: 20px;
  margin-left: 0;
}
.class_image {
  text-align: center;
  margin-bottom: 20px;
}
.teacher_description {
  font-size: 18px;
}
.class_description {
  font-size: 18px;
}


.teacherprofile .schedule {
	margin-top: 20px;
	text-align: center;
}
.teacherdesc p {
	text-indent: 1em;
}