<div class="col-sm-3 hidden-xs">
  <h4>Blog posts:</h4>
  <ul>
    {% for post in site.posts %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <hr>

  <h4>ABOUT YOGA BELLY</h4>
  <p>
    Founded 3 years ago we are committed to delivering the best power yoga classes. We are the gurus of being light on tradition &amp; heavy on workout. Located in Mountain View and San Jose, Ca.
  </p>

  <hr>

  <h4>CHECK US OUT ON FLICKR</h4>
  <style type="text/css">
  .flickr_badge_image {margin:0px;display:inline;}
  .flickr_badge_image img {border: 1px solid #666666 !important; padding:1px; margin:2px;}
  #flickr_badge_wrapper {width:250px;text-align:left}
  </style><div id="flickr_badge_wrapper"><script type="text/javascript" src="//www.flickr.com/badge_code_v2.gne?count=6&amp;display=latest&amp;size=s&amp;layout=x&amp;source=user&amp;user=99548151@N02"></script><center><small>See more on <a href="https://www.flickr.com/photos/99548151@N02">Flickr</a>.</small></center></div>

  <hr>

  <h4>SUBSCRIBE TO OUR YOUTUBE</h4>
  <p>
    <iframe width="100%" height="auto" src="http://www.youtube.com/embed/wxs6AnKD99s?autoplay=0" frameborder="0" allowfullscreen></iframe>
  </p>
</div>
