<header class="site-header">
  <div style="height: 240px; overflow: hidden" class="container header hidden-xs">
   <img style="float: left; margin-top: -21px" class="hidden-xs" src="/images/layout/logo-black.png">
   <img style="float: right; margin-top: 50px" src="/images/layout/title-gray.png">

   <div style="float: right; clear: right;">
    <a rel="me" href="https://www.facebook.com/yogabelly" target="_blank"><img src="/images/social/facebook.png" alt="Facebook"></a>
    <a rel="me" href="https://plus.google.com/104424754696629610377/" target="_blank"><img src="/images/social/google.png" alt="Google+"></a>
    <a rel="me" href="http://www.twitter.com/yogabelly" target="_blank"><img src="/images/social/twitter.png" alt="Twitter"></a>
    <a rel="me" href="http://www.pinterest.com/yogabellystudio/" target="_blank"><img src="/images/social/pinterest.png" alt="Pinterest"></a>
    <a rel="me" href="http://instagram.com/yogabellystudio" target="_blank"><img src="/images/social/instagram.png" alt="Instgram"></a>
    <a rel="me" href="http://www.yelp.com/biz/yoga-belly-mountain-view" target="_blank"><img src="/images/social/yelp.png" alt="Yelp"></a>
   </div>

  </div>
  <div class="visible-xs">
   <!-- navigation for small screens -->
   <nav class="navbar navbar-default" style="margin-bottom: 0">
    <div class="container-fluid">
     <!-- Brand and toggle get grouped for better mobile display -->
     <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#smallnav">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img alt="YogaBelly" src="/images/layout/title-small.png" style="margin-top: -10px"></a>
     </div>
     <!-- Collect the nav links, forms, and other content for toggling -->
     <div class="collapse navbar-collapse" id="smallnav">
      <ul class="nav navbar-nav">
       {% for nav in navigation %}
       <li role="presentation"><a href="{{nav.url}}">{{ nav.label }}</a></li>
       {% endfor %}
       {% for nav in navigation_links %}
       <li role="presentation"><a target="_blank" rel="nofollow" href="{{ nav.url }}">{{ nav.label }}</a></li>
       {% endfor %}
      </ul> 
     </div>
    </div>
   </nav>
   <!-- end navigation for small screens -->
  </div>
</header>