---
layout: default
---

<ol class="breadcrumb">
  <li><a href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
  <li class="active">Classes</li>
</ol>

<div class="row">
 {% for page in site.pages %}
   {% if page.layout == 'class' %}
  <div class="col-md-4 col-sm-4 col-xs-6">
   <a class="well class" href="{{ page.url | prepend: site.baseurl }}">
    <h2>{{ page.title }}</h2>
    <div class="imgholder"><img class="img-responsive" src="{{ page.thumbnail_url | prepend: site.baseurl }}"></div>
    <div class="class-blurb">{{ page.blurb }}</div>
   </a>
  </div>
   {% endif %}
 {% endfor %}
</div>