---
layout: default
---

<ol class="breadcrumb">
  <li><a href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
  <li class="active">Teachers</li>
</ol>

<h1>Yoga Belly Teachers</h1>
<div class="row">
 {% for page in site.pages %}
   {% if page.layout == 'teacher' %}
  <div class="col-md-3 col-sm-4 col-xs-6">
   <a class="well teacher" href="{{ page.url | prepend: site.baseurl }}">
    <div class="imgholder" style="background: url({{ page.thumbnail_url | prepend: site.baseurl }}) no-repeat; background-size: cover">
    </div>
    <div class="name">{{ page.title }}</div>
   </a>
  </div>
   {% endif %}
 {% endfor %}
</div>
