---
layout: default
---

<ol class="breadcrumb">
  <li><a href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
  <li><a href="{{ "/classes/" | prepend: site.baseurl }}">Classes</a></li>
  <li class="active">{{ page.title }}</li>
</ol>

 <h1>Classes: {{ page.title }}</h1>
 <img style="border-radius: 5px; border: 1px solid #666; width: 45%; float: left; margin-top: 5px; margin-right: 20px" src="{{ page.image_url | prepend: site.baseurl }}" style="width: 100%">
 <div class="class_description">{{ content }}</div>
